http/soap-client-annotation-processor/src/test/wsdl/simple-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  name="OfferService"
                  targetNamespace="http://kora.tinkoff.ru/simple/service"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://kora.tinkoff.ru/simple/service"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kora.tinkoff.ru/simple/service">
            <xsd:element name="TestRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="val1" type="xsd:string"/>
                        <xsd:element minOccurs="1" name="val2" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="TestResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="val1" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="TestError1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="val1" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="TestError2">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="val1" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="CommonResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Code" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="Message" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GetResult">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="str" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ResultResponse">
                <xsd:complexContent mixed="false">
                    <xsd:extension base="tns:CommonResponse">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="Date" nillable="true" type="xsd:dateTime"/>
                            <xsd:element minOccurs="0" name="Field2" nillable="true" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Field3" nillable="true" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="ResultResponse" nillable="true" type="tns:ResultResponse"/>
            <xsd:element name="GetResultResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="GetResultResponseResult" nillable="true" type="tns:ResultResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="testRequestMsg">
        <wsdl:part element="tns:TestRequest" name="testRequest"/>
    </wsdl:message>
    <wsdl:message name="testResponseMsg">
        <wsdl:part element="tns:TestResponse" name="testResponse"/>
    </wsdl:message>
    <wsdl:message name="testError1Msg">
        <wsdl:part element="tns:TestError1" name="testError1"/>
    </wsdl:message>
    <wsdl:message name="testError2Msg">
        <wsdl:part element="tns:TestError2" name="testError2"/>
    </wsdl:message>
    <wsdl:message name="GetResult_InputMessage">
        <wsdl:part name="parameters" element="tns:GetResult"/>
    </wsdl:message>
    <wsdl:message name="GetResult_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetResultResponse"/>
    </wsdl:message>

    <wsdl:portType name="SimpleService">
        <wsdl:operation name="test">
            <wsdl:input message="tns:testRequestMsg" name="testRequest"/>
            <wsdl:output message="tns:testResponseMsg" name="testResponse"/>
            <wsdl:fault message="tns:testError1Msg" name="testError1"/>
            <wsdl:fault message="tns:testError2Msg" name="testError2"/>
        </wsdl:operation>
        <wsdl:operation name="GetResult">
            <wsdl:input wsaw:Action="GetResult" message="tns:GetResult_InputMessage"/>
            <wsdl:output wsaw:Action="GetResult" message="tns:GetResult_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SimpleServiceBinding" type="tns:SimpleService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="test">
            <soap:operation soapAction=""/>
            <wsdl:input name="testRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="testResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetResult">
            <soap:operation soapAction="GetResult" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="SimpleServiceService">
        <wsdl:port binding="tns:SimpleServiceBinding" name="TestService">
            <soap:address location="http://localhost:8080/simple/service"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
